.holder{
	display: flex;
		font-size:50px;
	justify-content:center;
	flex-wrap:wrap;
}
.item-3{
	height:100px;
	width:100px;
	background-color:green;
	color:black;
}
.item-1{
	height:100px;
	width:100px;
	background-color:red;
	color:black;
}
.item-2{
	height:100px;
	width:100px;
	background-color:blue;
	color:black;
}
/* Your CSS Code here. */